body {
    background: #F8F7FF;
    text-align: center;
}

.quokka{
    font-family: 'Pinyon Script', cursive;
}

.secret{
    opacity: .5;
}

ul{
    list-style: none;
    padding: 0;
}

table,th,td{
    border: solid gray 1px
}

table{
    margin: 0 auto;
}

.cabbage {
    color: chartreuse;
}