<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Pokemon!</title>
</head>

<style type="text/css">
    body {
      color: blanchedalmond;
      background-color: steelblue;
    }

    h1{
        display: inline-block;
        font-family: 'Press Start 2P', cursive;
        font-size: 24px;
        font-variant: small-caps;
        border-bottom: 2px gray solid;
    }

    a {
        display: inline-block;
        margin: 10px 0;
    }

    a:visited{
        color: rgb(238, 192, 123)
    }
    
    li {
        font-family: 'Press Start 2P', cursive;
    }
  </style>


<body>
    <h1>See All the Pokemon!</h1>
    <ul>
        <% for (let i=0;i<pokemon.length;i++){ %>
            <li><a href="/pokemon/<%=i%>"><%= pokemon[i].name.charAt(0).toUpperCase() + pokemon[i].name.substring(1) %></a></li>
        <% } %>
    </ul>

</body>
</html>