* {
    border-width: 2px;
    border: solid yellow;

}

body{
    background: rgb(75, 14, 14);
    margin: 10px auto;
    padding: 5% 20%;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    display: block;
    text-align: center;
}
h3 {
    color: #8fadab;
    text-align: center;
    font-family: 'Baskervville', serif;
    font-size: 25px;
}

.menu {
    background: white;
    float: left;
    width: 100%;
}

.positions {
    clear: both;
}

ul {
}   

.menu  li {

    margin: 0; 20%;
    padding: 0 20px;
    display: inline-block;
}

p {
    font-family: 'Gupter', serif;
}

.content {
    width: 50%;
    margin: 0 auto;
    border: 50%;
    font-size: 2em;
    text-align: justify;
    clear: both;
}