
/*
* {
    border-width: 2px;
    border: solid yellow;

}
*/

/* per this article: https://www.kirupa.com/html5/make_body_take_up_full_browser_height.htm
*/
html, body{
    height: 100%;
    overflow: auto;
}


body{
    background: rgb(109, 25, 25);
    margin: 0 auto;
 
    border: solid black;
    border-width: 5px 0 5px 0;
}


img {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

h1 {
    display: block;
    text-align: center;
    font-size: 40px;
    padding: 15px 0 0 0;
    text-transform: uppercase;

}
h2{
    text-align: center;
    font-size: 30px;
}
h3 {
    color: #8fadab;
    text-align: center;
    font-family: 'Baskervville', serif;
    font-size: 25px;
    padding: 5px;
    margin: 0;
}

.nav {
    background: rgb(173, 130, 130);
    width: 100%;
    height: 40px;
    margin: 0 auto;
}


ul {
    list-style-type: none;

}   

.nav li {
    float: left;
    width: 13%;
    height: 100%;
    text-align: center;
    line-height: 60%;
}


.positions {
    float: left;
    width: 20%;
    height: 500px;
    padding: 55px 0 0 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: rgb(204, 195, 195);
}

span {
    top: 20%;
    text-align: center;
    display: block;
    transform: translate(0, 50%);
}

.nav li:hover{
    background: rgb(58, 13, 13);
}

p {
    font-family: 'Gupter', serif;
}

.content {
    width: 70%;
    font-size: 2em;
    text-align: justify;
    float: left;
}

iframe{
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.projects li{
    float: left;
    height: 500px;
    max-width: 25%;
    margin: 20px 1%;
    padding: 20px;
    text-align: justify;
    border: solid rgb(39, 7, 7);
}

ol{
    list-style-type: none;
    margin: auto;
    width: 90%;
}


li img {
    float: left;
    max-width: 50%;
    margin-right: 5%;
    border-radius: 50%;

}

.contact {

    font-size: 25px;
    color: rgb(157, 180, 72);
    clear: both;
    margin: 10px auto;
    width: 100%;
}

table {
    width: 100%;
    background: rgb(44, 38, 38);
}
table, tr, th{
    text-align: center;
}
td{
    color: rgb(155, 143, 143);
    width: 33%;
}