<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/skeleton.css" />
    <title>Budgtr</title>
</head>
<body>
    <div class="container">
        <h1>Budgtr All</h1>
        <table>
            <% for (let i=0;i<Budget.length;i++) { %>
                <tr>
                    <td><%=Budget[i].date %>
                    <td><a href="/budget/<%=i%>"><%=Budget[i].name %></a>
                    <td><%=Budget[i].amount %> 
                </tr>   
            <% } %>            
        </table>
        <button><a href="/budget/new">Add New Transaction</a></button>
    </div>
</body>
</html>