<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/skeleton.css" />
    <title>Add New Transaction</title>
</head>
<body>
    <div class="container">
        <h1>Add New Transaction</h1>
        <form action="/budget" method="POST">
            <div class="field-title">Date: </div><input type="text" placeholder="April 1" name="date"><br>
            <div class="field-title">Name: <input type="text" name="name"><br>
            <div class="field-title">Amount: <input type="text" name="amount"><br>
            <div class="field-title">From: <input type="text" name="from"><br>
            <div class="field-title">Tags: <input type="text" name="tags"><br>
            <input type="submit" name="" value="Create Item">
        </form>
    </div>
</body>
</html>