body{
	background: #99ffd6;
}


h1, #welcome {
	display: block;
	text-align: center;
	border-style: solid;
	border-width: 2px;
	border-color: #526D27;
	margin: 0 5%;
	width: 1081px;
}

h1 {
	margin-top: 50px;
}

#welcome {
	border-top-style: none;
	border-bottom-style: none;
	padding: 20px 0;
	height: 40px;
}

.buyButton, #storeExitButton {
    padding: 5px;
    margin: 5px;
}

#storeExitButton{
    width: 200px;
}

button {
    margin: 5px;
}

.buyButtonHidden{
    display: none;
}

.buyButton, .sellButton {
	display: inline;
	font-family: 'ABeeZee', sans-serif;
	width: 81px;
	height: 30px;
	border-radius: 20%;
}

.buyButton{
	margin: 15px 5px;
	font-family: 'ABeeZee', sans-serif;
	color: #375B50;
}

.sellButton{
	color: #524B13;
}


#gameBoard{
	width: 90%;
	background: green;
	margin: 0 5%;
}

#inventory{
	float: left;
	height: 400px;
	width: 100px;
	min-width: 250px;
	background: #379249;
}

#walletText{
	color: #36EA49;
	font-weight:bold;
}


#storeGrid{
	background: #88BDCA;
	height: 400px;
	float: left;
	width: 625px;
}

.toolInventoryTitle {
	font-family: 'ABeeZee', sans-serif;
	font-size: 30px;
	color: #B8E8C1;
	margin: 0 30%;
	display: inline-block;
}

.storeTitleClass {
	font-family: 'ABeeZee', sans-serif;
	font-size: 30px;
	color: #1A4328;
	margin: 0 10% 20px 10%;
	display: block;
}

.toolIcon, .walletIcon{
	clear: both;
	float: left;
	width: 50px;
	height: 50px;
	background-size: 10px;
}


.circleIcon{
	border-radius: 50%;
	clear: both;
	text-align: center;
	width: 25px;
	height: 25px;
	font-size: 12px;
	background: rgba(250, 250, 0, 1);
	color: #92329E;
	font-style: bolder;
	position: relative;
	left: 45px;
	top: -60px;
}

.toolInventoryItem, .walletIconClass{
	height: 60px;
}

#buttonZone{
	float:left;
	background: #195248;
	width: 210px;
	height: 400px;
}

.actionButton{
	font-family: 'Gelasio', serif;
	font-weight: bold;
	color: #481952;
	background: #99ccff;
	clear: both;
	width: 105px;
	margin: 35px 0 0 42px;
}

.titleImage{
	clear: both;
	height: 50px;
	width: 1085px;
	margin: 0 5%;
	background: url('images/grass.jpg');
}

.console{
	margin-top: 15px;
	display: block;
	color: #A4BBA9;
	background: #4D5F51;
	font-family: 'Play', sans-serif;
	height: 200px;
	min-height: 50px;
	overflow: auto;
	width: 1200px;
}

.youWinHidden{
	display: none;
}

.youWin{
	font-family: 'Notable', sans-serif;
	font-size: 68px;
	vertical-align: middle;
	margin: 20% 0;
	text-align: center;
-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: url('images/grass.jpg');
	animation:blinkingText 0.5s 3;
}

@keyframes blinkingText{
    0%{     	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: url('images/grass.jpg');    }
    49%{    background: transparent; }
    50%{    background: transparent; }
    99%{    background: transparent; }
    100%{   	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: url('images/grass.jpg');   }
}

.inventoryStatsBoxHidden{
	display: none;
}

.inventoryStatsBox{
	display: block;
}