.buyButton, #storeExitButton {
    padding: 5px;
    margin: 5px;
}

#storeExitButton{
    width: 200px;
}

button {
    margin: 5px;
}

.buyButtonHidden{
    display: none;
}

.buyButton, .sellButton {
	display: inline;
	width: 75px;
	height: 30px;
	border-radius: 20%;
}

#gameBoard{
	width: 90%
	background: green;
	margin: 0 auto;
}

#inventory{
	float: left;
	height: 400px;
	width: 30%;
	min-width: 300px;
	background: gray;
}

#storeGrid{
	background: blue;
	height: 400px;
}

.toolIcon{
	clear: both;
	float: left;
	width: 50px;
	height: 50px;
	background-size: 10px;
}

.toolInventoryItem{
	height: 60px;
}

#buttonZone{
	clear:both;
}