.buyButton, #storeExitButton {
    padding: 5px;
    margin: 5px;
}

#storeExitButton{
    width: 200px;
}

button {
    margin: 5px;
}

.buyButtonHidden{
    display: none;
}

.buyButton, .sellButton {
	display: inline;
	width: 75px;
	height: 30px;
	border-radius: 20%;
}

.buyButton{
	margin: 15px 5px;
	font-family: 'ABeeZee', sans-serif;
	color: #375B50;
}

#gameBoard{
	width: 90%
	background: green;
	margin: 0 auto;
}

#inventory{
	float: left;
	height: 400px;
	width: 30%;
	min-width: 300px;
	background: #379249;
}

.titleImage{
	height: 50px;
	width: 100%;
	background: url('images/grass.jpg');
}

#storeGrid{
	background: #88BDCA;
	height: 400px;
	float: left;
	width: 70%;
}

.toolInventoryTitle {
	font-family: 'ABeeZee', sans-serif;
	font-size: 30px;
	color: #B8E8C1;
	margin: 0 30%;
	display: inline-block;
}

.storeTitleClass {
	font-family: 'ABeeZee', sans-serif;
	font-size: 30px;
	color: #1A4328;
	margin: 0 20%;
	display: block;
}

.toolIcon, .walletIcon{
	clear: both;
	float: left;
	width: 50px;
	height: 50px;
	background-size: 10px;
}

.toolInventoryItem, .walletIconClass{
	height: 60px;
}

#buttonZone{
	clear:both;
}

.console{
	margin-top: 15px;
	display: block;
	color: #A4BBA9;
	background: #4D5F51;
	font-family: 'Play', sans-serif;
	height: 200px;
	min-height: 50px;
	overflow: auto;
}