<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript"src='/cartScript.js' class="2 5 4"></script>
    <title>Your Cart</title>
</head>
<body>
    <h1><%=cart.username%>'s Cart</h1>

    <div class="container wide">
      <% for (let i = 0;i< cart.shopping_cart.length; i++) { %>
        
          <p>
          Product Name: <div class="cart"><%=cart.shopping_cart[i]; %></div> <br>

          </p>
      <% } %>
    </div>
    <br>
    <nav>
      <a href="/products">Back to products Index</a>
    </nav>
    
    </div>
  </body>
</html>