<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Pokedex</title>
</head>
<body>
    <h1>The official Pokedex:</h1>
    <div class="container">
    <% for (let i=0; i<100; i++) { %>
    
        <div class="item-box">
            <div class="name">Name: <%= Pokemon[i].name %></div>
            <div class="image"><img src="<%= Pokemon[i].img %>"></div>
            <div class="types">Types:
                <ul>
                <% for (let j in Pokemon[i].type) { %>
                    <li>
                    <%= Pokemon[i].type[j] %>
                    </li>
                <% } %>
                </ul>
            </div>
        </div>
    <% } %>
    </div>
</body>
</html>