<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Pokemon</title>
</head>
<body>
    <div class="container">
        <h1>Add New Pokemon</h1>
        <form action="/pokemon" method="POST">
            <div class="Name">Name: </div><input type="text"  name="name"><br>
            <div class="image-source">Image Source: <input type="url" name="img"><br>
            <div class="id">Id: <input type="text" readonly name="id" value="<%=Pokemon.length + 1%>">
            </div>
            <br>
            <h2>Types</h2>
            <div class="types">types<input type="text" name="type"></div>
            <h2>Stats:</h2>
            <div class="hp">hp: <input type="number" name="hp"><br>
            <div class="attack">attack: <input type="number" name="attack"><br>
            <div class="defense">defense: <input type="number" name="defense"><br>
            <input type="submit" name="" value="Create Item">
        </form>
    </div>
</body>
</html>