.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    align-items: flex-start;
    
}

.item-box{

   border: solid 2px black;
   height: 220px;
}


img{
    height: 100px;
}